MOKOSZ_PERUN_WS_URL=ws://localhost:19000/ws
MOKOSZ_API_KEY=
MOKOSZ_DESCRIPTION=Local Mokosz Instance
MOKOSZ_TARGET_TIMEOUT=300
MOKOSZ_LOG_LEVEL=DEBUG
MOKOSZ_PAYLOAD_LOG_FILE=mokosz_payloads.log
MOKOSZ_TLS_VERIFY=true
MOKOSZ_ACCESS_KEYS=key-example-1,key-example-2
MOKOSZ_ALLOW_PROXY=false
